<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>IP View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="http://twitter.github.com/bootstrap/assets/css/docs.css" rel="stylesheet">
    <link href="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">


    <style type="text/css">
    .footer {padding: 0;}
    #footer {position: fixed;bottom: 0;width: 100%;}
    #content{margin: 20px auto; text-align: center;}

    </style>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#" style="color:#777;">IP View</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <!-- <ul class="nav">
              {% for obj in camera_list %}
                <li class="" id="camera{{obj.pk}}"><a href="#">{{obj.name}} (foto)</a></li>
            {% endfor %}
            {% for obj in camera_list %}
                <li id="camera{{obj.pk}}video"><a href="#" >{{obj.name}} (video)</a></li>
            {% endfor %}
              <li><a href="/accounts/logout">Logout</a></li> -->



              <!--<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>  -->
            </ul>
            <!-- <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form> -->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


      <div id="content">
         {% block content %}
 {% endblock content %}
      </div>

    <!-- Footer
    ================================================== -->
    <div id="footer">
        <footer class="footer">
          <div class="container">
            <ul class="footer-links">
              <li>2012 &copy; All rights reserved</li>
              <li><a href="http://ondrejsika.com">Ondrej Sika</a></li>
            </ul>
          </div>
        </footer>
    </div>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
  </body>
</html>
