<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>IP View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{STATIC_URL}}bootstrap/css/docs.css" rel="stylesheet">
    <link href="{{STATIC_URL}}bootstrap/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="icon" type="image/png" href="/static/ipview/favicon.png">
    <link rel="shortcut icon" href="/static/ipview/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ipview/favicon.png">

    <style type="text/css">
    .footer {padding: 0;}
    #footer {position: fixed;bottom: 0;width: 100%;}
    #content{margin: 20px auto; text-align: center;}
    </style>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#" style="color:#777;">IP View</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <ul class="nav">
              {% for obj in camera_img_list %}
                <li class="" id="camera{{obj.pk}}"><a href="#">{{obj.name}} (foto)</a></li>
            {% endfor %}
            {% for obj in camera_video_list %}
                <li id="camera{{obj.pk}}video"><a href="#" >{{obj.name}} (video)</a></li>
            {% endfor %}
            {% if user.userprofile.account.records_url and user.userprofile.account.records_url != None %}
                <li ><a href="{{user.userprofile.account.records_url}}" target="blank" >records</a></li>
            {%endif%}
              <li><a href="/accounts/logout">Logout</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


      <div id="content">
        <div id="img"></div>
 
      </div>

    <!-- Footer
    ================================================== -->
    <div id="footer">
        <footer class="footer">
          <div class="container">
            <ul class="footer-links">
              <li>2012 &copy; All rights reserved</li>
              <li><a href="http://ondrejsika.com">Ondrej Sika</a></li>
            </ul>
          </div>
        </footer>
    </div>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/jquery.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap-collapse.js"></script>


        <script type="text/javascript">
    $(document).ready(function () {
        var video, html, camId;
    {% for obj in camera_img_list %}
        $('#camera{{obj.pk}}').click(function () {
            html = "<img src='http://{{obj.get_img_url}}'>";
            $("#img").html(html);
            $(".active").removeClass("active");
            $('#camera{{obj.pk}}').addClass("active");
        });
    {% endfor %}
    {% for obj in camera_video_list %}
        $('#camera{{obj.pk}}video').click(function () {
            html = '<p><iframe width="640" height="480" src="http://{{obj.get_video_url}}"><p><a target="blank" href="{{obj.get_admin_url}}">login</a>';
            $("#img").html(html);
            $(".active").removeClass("active");
            $('#camera{{obj.pk}}video').addClass("active");
        });
    {% endfor %}
    });
    </script>

  </body>
</html>
